body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  text-align: center;
  margin: 200px auto;
  width: 350px;
}

.number-input {
  width: 94.5%;
  text-align: right;
  background-color: #858694;
  color: #fff;
  outline: none;
  border: none;
  height: 50px;
  font-size: 20px;
  padding: 5px 10px;
}

button {
  font-size: 12px;
  height: 50px;
  background: none;
  border-width: 0.1em;
  border-color: #ddd;
  cursor: pointer;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.first-row button,
.second-row button,
.third-row button,
.fourth-row button,
.fifth-row button {
  background-color: #e0e0e0;
}

.first-row button:last-child,
.second-row button:last-child,
.third-row button:last-child,
.fourth-row button:last-child,
.fifth-row button:last-child {
  background-color: #f5913e;
  border-color: #f5913e;
}

.fifth-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
