.container {
  text-align: center;
  margin: 200px auto;
  border: 1px solid #333;
  width: 400px;
}
.number-input {
  width: 98%;
  text-align: right;
}
.first-row,
.second-row,
.third-row,
.fourth-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.fifth-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}