.container {
    margin: 50px 0 0 30px;
    display: flex;
    flex-direction: column;
}
h1 {
    margin-left: 150px;
}
p {
    font-size: 20px;
    margin: 20px  150px 20px 150px;
    line-height: 1.7;
}